/** \mainpage RNDF Gazebo Plugin: API Reference

This documentation provides useful information about the RNDF Gazebo Plugin library API.  Should you find problems with this documentation - typos, unclear phrases,
or insufficient detail - please create a <a
  href="https://bitbucket.org/JChoclin/rndf_gazebo_plugin/issues/new">new bitbucket issue</a>.
Include sufficient detail to quickly locate the problematic documentation,
and set the issue's fields accordingly: Assignee - blank; Kind - bug;
Priority - minor; Version - blank.

<dl>
   <dt>Class</dt>
   <dd><a href="classes.html">List</a> - Index of all classes, organized alphabetically</dd>
</dl>

*/
